*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--pink-light: #C59DD2;
--pink-base: #9547A5;
--pink-dark: #7D298A;
--pink-low: #3F0F41;
--blue-light: #73B6D2;
--blue-base: #358BB9;
--blue-mid:  #2374A4;
--blue-dark: #144A72;
--blue-low: #08233C;
--shape-stroke: #002347;
--shape-hover: #001933;
--shape-base: #000F1F;
--shape-background: #00050A;
--text-title: #F8FBFB;
--text-body: #E2E7E9;
--text-label: #BAC6C9;

--max-width: 375px;

--font-family: 'Raleway', sans-serif;

}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: var(--shape-background);
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

ul[role="list"] {
    list-style: none;
}

@media (width >= 64em) {
    :root{
        --max-width: 80em;
}
}

@media (width <= 390px) {
    body {
        max-width: var(--max-width);
        margin-inline: auto;
    }
}

@media (750px <= width < 64em) {
    :root {
        --max-width: 1024px;
    }
}