header {
    background-image: url(../assets/images/hero-background.png);
    background-repeat: no-repeat;
    background-position: center;
background-size: cover;
height: 100vh;
    padding: 1.25rem;
    & nav {
        margin-inline: auto;
        max-width: var(--max-width);
        justify-content: space-between;

& a {
    background-color: var(--pink-dark);
    padding: .75rem 1.25rem;
    border-radius: .5rem;
    color: var(--text-title);
    }

}


    }

    @media (width >= 80em) {
        header {
            & nav { 
                
                & div {
                    & > img {
                display: none;
            } } }
        }
    }



