#hero {
    background-image: url(../assets/images/hero-background.png);
    background-position: center;
    background-size: cover;
    padding-bottom: 12rem;
    position: relative;
animation: bg 1.5s ease-out both;

&::before {
    content: "";
    position: absolute;
    width: 25%;
    height: 60%;
    left: 0;
    bottom: -3rem;
    filter: blur(250px);
    background-color: var(--pink-low);
}

&::after {
    content: "";
    position: absolute;
    width: 25%;
    height: 80%;
    right: 0;
    bottom: -12rem;
    filter: blur(250px);
    background-color: var(--pink-low);
}

    & nav {
max-width: var(--max-width);
margin-inline: auto;
justify-content: space-between;
padding: 1.5rem;

& a {
    position: relative;
    background-color: var(--pink-dark);
    padding: .75rem 1.25rem;
    border-radius: .5rem;
    color: var(--text-title);
    font: Bold .875rem/100% var(--font-family);
    z-index: 1;

&::before {
    content: "";
    background-color: var(--pink-base);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: inherit;
z-index: -1;
clip-path: circle(0%);
transition: clip-path 500ms ease-in-out;
}

&:hover::before {
    clip-path: circle(100%);
}
}
}

& header {
    padding-block: 3rem;
    padding-inline: 1.25rem;
    max-width: var(--max-width);
margin-inline: auto;
text-align: center;
& h1 {
    font: bold 1.75rem/100% var(--font-family);
    color: var(--text-title);
    opacity: 0;
    animation: bg 1.5s ease both;
}

& p {
    font: 400 .875rem/1.4 var(--font-family);
    color: var(--text-body);
    opacity: 0;
    animation: appear 1s 750ms ease-out both;
}
}
}

@keyframes appear {
    100% {
        opacity: 1;
    }
}

@keyframes bg {
0% {
opacity: 0;
}

50% {
    opacity: 0.5;
}

100% {
    opacity: 1;
}
}

@media (width >= 64em) {
    #hero {
        padding-bottom: 24rem;

&::before {
    left: 0;
    bottom: -3rem;
    filter: blur(800px);
}

&::after {
    right: 0;
    bottom: -12rem;
    filter: blur(800px);
}

        & nav {
            padding: 3.5rem;

        }

& header {
    padding-top: 10.25rem;

    & h1 {
        font-size: 3rem;
    }

    & p {
        font-size: 1.25rem;
        margin-top: 1rem;
    }
}

    }
}

@media (750px <= width) {
    #hero {

& nav {
    padding: 2.5rem;
}

        & h1 + h1, p + p, img + img {
            display: none;

        }
    }
}




