.flex {
    display: flex;
}

.grid {
    display: grid;
}

.items-center {
    align-items: center;
}

.desktop-only {
    display: none;
}

.gap-1 {
    gap: 1rem;
}

@media (width >= 750px) {
    .desktop-only {
        display: inline-block;
    }
}

