.flex {
    display: flex;
}

.grid {
    display: grid;
}

.items-center {
    align-items: center;
}

.desktop-only {
    display: none;
}

@media (width >=80em) {
    .desktop-only {
        display: inline-block;
    }
}

